a{
  text-decoration: none;
  color: #000;
}
.bone{
  position: relative;
  width: 150px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border: none;
  transform: scale(2.5);
  transition: all 0.3s ease-in-out;
}
.bone:hover{
  transform: scale(2.8);
}
.c1, .c2, .c3, .c4{
  background:#fff;
  height: 30px;
  width: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  position:absolute;
}
.c1{
  left: 0;
  top: 0;
}
.c2{
  right: 0;
  top: 0;
}
.c3{
  left: 0;
  bottom: 0;
}
.c4{
  bottom: 0;
  right: 0;
}
.b1 {
  background:#fff;
  height: 30px;
  width: 120px;
  position:absolute;  
  left: 15px;
  top: 15px;
}
.b2 {
  position: absolute;
  left: 15px;
  top: 0;
  width: 90px;
  height: 30px;
  line-height: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  text-align: center;
}
@media screen and (max-width:375px) {
  .bone{
    transform: scale(1.5);
  }
}
@media screen and (max-height:512px) {
  .right > img {
    height: 200px;
    width: 200px;
  }
  .bone{
    transform: scale(1.5);
  }
}

