@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300;500;700&display=swap');
.Header{
  display: flex;
  flex-direction: row;
  height: 45vh;
  background-color: rgb(87, 74, 74);
}
.left-header{
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 7rem;
  margin-top: 5rem;
}
.left-header h1{
  color: #fff;
  padding: 1rem;
  font-size: 3rem;
}
.left-header p{
  color: #fff;
  font-size: 1.5rem;
  margin-left: 1rem;
}
.searchbar-container{
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  width: 43%;
}
button{
  cursor: pointer;
}
.right-header{
  display: flex;
  width: 50%;
  margin-top: 3rem;
}
.right-header img{
  width: 500px;
  height: 500px;
  border-radius: 9999px;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}
.Pagination{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.Pagination button{
  cursor: pointer;
}
.btn-refresh{
  height: 60px;
  width: 100px;
  border-radius: 20px;
  border: none;
  background: #1E1E1E;
  color: #fff;
  font-size: 20px;
}
.Filters-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
select {
   -webkit-appearance:none;
   -moz-appearance:none;
   -ms-appearance:none;
   appearance:none;
   outline:0;
   box-shadow:none;
   border:0!important;
   background: rgb(87, 74, 74, 0.5);
   flex: 1;
   padding: 0.5em;
   color:#fff;
   cursor:pointer;
   font-size: 1.5rem;
  font-family: 'Josefin Sans', sans-serif;
}
select::-ms-expand {
   display: none;
}
.AZZA-Filter{
  min-width: 220px;
}
.Temperaments-Filter{
  min-width: 400px;
}
.Created-Filter,
.AZZA-Filter,
.Temperaments-Filter,
.Weight-Filter {
   position: relative;
   display: flex;
   line-height: 3;
   background: rgb(87, 74, 74);
   overflow: hidden;
   border-radius: .25em;
}
option{
  font-size: 1rem;
}
.Created-Filter::after,
.AZZA-Filter::after,
.Temperaments-Filter::after,
.Weight-Filter::after
 {
   content: '';
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   background: #fff;
   opacity: 0;
   transition: opacity 0.2s ease-in-out;
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: rgb(87, 74, 74, 0.5);
  cursor:pointer;
  pointer-events:none;
  transition:.3s all ease;
}
.Created-Filter:hover::after{
  color: #1E1E1E;
}
.AZZA-Filter label,
.Created-Filter  label,
.Temperaments-Filter label,
.Weight-Filter label{
  background-color: #F3F3F3;
  color: #1E1E1E;
  border: 1px solid #1E1E1E;
  font-size: 1rem;
  font-family: 'Josefin Sans', sans-serif;
}
.Cards-Container{
  display: grid;
  margin-left: 6rem;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
  margin-top: 3rem;
}
.loader-container{
  position: relative;
  top: 20px;
  left: 450px;
}
.loading{
  z-index: 9999;
  font-size: 100px;
  margin: 0 auto;
}
.delete-btns{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
  background-color: aqua;
}
.btn-delete{
  position:relative;
  top: -1rem;
  left: 90px;
  margin-right: 690px;
  background-color: red;
  color: white;
  border-radius: 9999px;
  border: none;
  z-index: 9999;
}
/*@media screen and (max-width:1024px){
  .Header{
    height: 43vh;
  }
  .left-header h1{
    margin-top: -2rem;
    font-size: 2rem;
    width: 360px;
  }
  .left-header p{
    font-size: 1.3rem;
    width: 360px;
  }
  .right-header img{
    position: relative;
    top: 1rem;
    width: 350px;
    height: 350px;
  }
  .searchbar-container{
    margin-top: -1.5em;
  }
  .Pagination{
    transform: scale(0.8);
  }
  .Filters-container{
    flex-wrap: wrap;
  }
  .Cards-Container{
    margin-left: 0;
    grid-template-columns: repeat(2, 2fr); 
  }
  .loader-container{
    left: -15%;
    transform: scale(0.7);
  }
}*/
@media screen and (max-width:912px) {
  .Header{
    height: 35vh;
  }
  .left-header{
    width: 50%;
    margin-left: 0;
    margin-top: 0;
  }
  .right-header{
    margin-top: 0;
    width: 50%;
  }
  .left-header h1{
    position: relative;
    font-size: 1.5rem;
    top: 15rem;
    left: 65%;
    width: 360px;
  }
  .left-header p{
    display:none;
  }
  .searchbar-container p{
    display: block;
  }
  .right-header img{
    position: relative;
    top: 1rem;
    right: 50%;
    width: 250px;
    height: 250px;
  }
  .searchbar-container{
    position: relative;
    top: 10rem;
    left: 85%;
    transform: scale(0.8);
  }
  .Pagination{
    position: relative;
    top: 130px;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    transform: rotate(0deg) scale(.7);
  }
  .Pagination button{
    display: flex;
    top: .3rem;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    transform: rotate(0deg) scale(.8);
  }
  .Filters-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100vw;
    margin-top: -8rem;
    transform: scale(.6);
    margin-left: 0;
    
  }
  .Created-Filter,
  .AZZA-Filter,
  .Temperaments-Filter,
  .Weight-Filter {
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  .Cards-Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 100%;
    margin-left: 0;
    margin-top: -2rem;
    height: 1300px;
  }
}
@media screen and (max-width:768px) {
  .Header{
    width: 100%;
    overflow-x: hidden;
    height: 50vh;
  }
  .left-header{
    width: 50%;
    margin-left: 0;
    margin-top: 0;
  }
  .right-header{
    margin-top: 0;
    width: 50%;
  }
  .left-header h1{
    position: relative;
    font-size: 1.5rem;
    top: 15rem;
    left: 60%;
    width: 360px;
  }
  .left-header p{
    display:none;
  }
  .searchbar-container p{
    display: block;
  }
  .right-header img{
    position: relative;
    top: 1rem;
    right: 50%;
    width: 250px;
    height: 250px;
  }
  .searchbar-container{
    position: relative;
    top: 10rem;
    left: 50%;
  }
  .Pagination{
    position: relative;
    top: 600px;
    left: -40%;
    width: 100%;
    flex-wrap: wrap;
    transform: rotate(90deg) scale(1);
  }
  .Pagination button{
    display: flex;
    position: relative;
    top: -2rem;
    width: 100px;
    height: 30px;
    font-size: 1rem;
    transform: rotate(0) scale(.9);
  }
  
  .Filters-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-top: -7rem;
    transform: scale(.6);
  }
  .Created-Filter,
  .AZZA-Filter,
  .Temperaments-Filter,
  .Weight-Filter {
    display: flex;
    flex-direction: column;
    width: 200px;
  }
  .Cards-Container{
   display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 0;
    margin-top: -2rem;
    height: 1330px;
  }
  .loader-container{
    width: 500px;
    left: -15%;
    transform: scale(0.5);
  }
}
@media screen and (max-width:540px) {
  .Header{
    height: 55vh;
  }
  .left-header h1{
    position: relative;
    font-size: 1rem;
    top: 13rem;
    left: 60%;
    width: 360px;
  }
  .left-header p{
    display:none;
  }
  .searchbar-container p{
    display: block;
  }
  .right-header img{
    position: relative;
    top: 1rem;
    right: 50%;
    width: 200px;
    height: 200px;
  }
  .searchbar-container{
    position: relative;
    top: 6rem;
    left: 50%;
    transform: scale(0.6);
  }
  .Pagination{
    position: relative;
    top: 650px;
    left: -47%;
    width: 100%;
    flex-wrap: wrap;
    transform: rotate(90deg) scale(.9);
  }
  .Cards-Container{
    height: 1100px;
  }
}
@media screen and (max-width:414px) {
  .Header{
    width: 100%;
    height: 35vh;
  }
  .left-header{
    height: 100%;
  }
  .left-header h1{
    position: relative;
    font-size: 1rem;
    top: 0;
    left: 50%;
    width: 180px;
  }
  .left-header p{
    display:block;
    font-size: 0.8rem;
    position: relative;
    top: 0;
    width: 350px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .searchbar-container p{
    font-size: 1.3rem;
  }
  .right-header img{
    display: none;
    position: relative;
    top: 1rem;
    right: 50%;
    width: 200px;
    height: 200px;
  }
  .searchbar-container{
    position: relative;
    top: -6rem;
    left: 4.5rem;
    transform: scale(.6);
  }
  .Pagination{
    position: relative;
    top: 680px;
    left: -50%;
  }
  .Pagination button{
    display: flex;
    width: 100px;
    height: 30px;
    font-size: 1rem;
  }
  .Filters-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    margin-top: -12rem;
    transform: scale(.5);
  }
  .Created-Filter,
  .AZZA-Filter,
  .Temperaments-Filter,
  .Weight-Filter {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 8px;
  }
  .Cards-Container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -1rem;
    margin-top: -8rem;
    height: 1080px;
  }
  .loader-container{
    width: 500px;
    left: -45%;
    transform: scale(0.3);
  }
}
@media screen and (max-width:375px) {
  .Header{
    height: 45vh;
  }
  .searchbar-container{
    position: relative;
    top: -6rem;
    left: 4rem;
    transform: scale(.6);
  }
  .Pagination{
    top: 600px;
    left: -55%;
  }
  .Pagination button{
    right: -.5rem;
  }
  .loader-container{
    width: 200px;
    left: -20%;
    transform: scale(0.25);
  }
  .card-container{
    position: relative;
    right: 2rem;
  }
  .Cards-Container{
    height: 1030px;
  }
}
@media screen and (max-width:360px) {
  .Header{
    height: 40vh;
  }
  .left-header p{
    width: 330px;
  }
  .searchbar-container{
    top: -6rem;
  }
  .card-container{
    right: .9rem;
  }
  .loader-container{
    width: 200px;
    left: -20%;
    transform: scale(0.25);
  }
}
@media screen and (max-width:280px) {
  .Header{
    height: 50vh;
  }
  .left-header h1{
    top: .5rem;
    left: 30%;
    width: 180px;
  }
  .left-header p{
    width: 250px;
  }
  .searchbar-container{
    top: -6rem;
    left: 2rem;
    transform: scale(.5);
  }
  .Filters-container{
    position: relative;
    top: -1rem;
    left: -1rem;
    transform: scale(.4);
  }
  .Pagination{
    top: 570px;
    left: -58%;
  }
  .card-container{
    right: -.5rem;
  }
  .Cards-Container{
    margin-top: -11rem;
    height: 950px;
  }

}
