.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 140px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;
}
.card-container:hover{
  transform: scale(1.1);
}
.img-container{
  display: flex;
  flex-direction: column;
}
.img-container img{
  width: 200px;
  height: 140px;
  border-radius: 20px;
}
.content{
  display: block;
  max-height: 150px;
  width: 210px;
}
.right-top-container{
  max-height: 60px;
  display: flex;
  flex-direction: column;
}
.right-top-container h1{
  max-width: 150px;
}
.right-bottom-container{
  max-height: 100px;
  display: flex;
}
.titles{
  display: block;
}
.values{
  display: block;
  width: 100px;
  text-align: center;
}

@media screen and (min-width:820px) and (max-width:912px){
  .card-container{
    margin-top: -1rem;
    margin-left: -.5rem;
    margin-right: -13rem;
    transform: scale(.8);
  }
  .card-container:hover{
    transform: scale(.2);
  }
}

@media screen and (max-width:768px){
  .card-container{
    margin-left: 10rem;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width:540px) {
  .card-container{
    margin-left: 6rem;
    transform: scale(.9);
    margin-bottom: -1rem;
  }
}

@media screen and (min-width:360px) and (max-width:414px){
  .card-container{
    margin-left: 2rem;
    transform: scale(.6);
    margin-bottom: -4rem;
  }
}

@media screen and (max-width:280px) {
  .card-container{
    margin-left: -1rem;
    transform: scale(.5);
    margin-bottom: -5rem;
  }
}