.card-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 150px;
  background-color: #f5f5f5;
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
  transition: all 0.5s ease-in-out;
}
.card-container:hover{
  transform: scale(1.2);
}
.img-container{
  display: flex;
  flex-direction: column;
}
.img-container img{
  width: 240px;
  height: 170px;
  border-radius: 20px;
}
.content{
  display: block;
  max-height: 150px;
  width: 210px;
}
.right-top-container{
  max-height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.right-bottom-container{
  max-height: 100px;
  display: flex;
}
.titles{
  display: block;
}
.values{
  display: block;
  width: 100px;
  text-align: center;
}

@media screen and (max-width:768px){
  .card-container{
    margin-left: 10rem;
    transform: scale(.8);
    margin-bottom: -4.5rem;
  }
  .card-container:hover{
    transform: scale(.8);
  }
}