.home-container{
  position: relative;
  top: 5rem;
  left: 28%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  text-align: center;
}
.home-container img{
  width: 100%;
  height: 100%;
}
.form {
  display: flex;
  flex-direction: column;
  background-color: #F3F3F3;
  border-radius: 20px;
  box-sizing: border-box;
  height: 60%;
  padding: 20px;
  width: 30%;
  margin: 0 auto;
  margin-top: -5rem;
  -webkit-box-shadow: -10px 0px 13px -7px #000000,
    10px 0px 13px -7px #000000, 5px 5px 15px 0px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000,
    10px 0px 13px -7px #000000, 5px 5px 15px 0px rgba(0, 0, 0, 0);
}
.title {
  color: #1E1E1E;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
  text-align: center;
}
.subtitle {
  color: #1E1E1E;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  text-align: center;
}
.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}
.ic1 {
  margin-top: 40px;
}
.ic2 {
  margin-top: 40px;
}
.input {
  background-color: rgb(87, 74, 74, .6);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 95%;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.placeholder {
  color: #fff;
  background: transparent;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
  color:#1E1E1E;
}
.input:not(:placeholder-shown) ~ .placeholder {
  color: #1E1E1E;
}
.input:focus ~ .placeholder {
  color: #1E1E1E;
}
input::placeholder{
color:#1E1E1E;
}
.inner-min-height,
.inner-max-height,
.inner-min-weight,
.inner-max-weight,
.inner-min-lifespan,
.inner-max-lifespan {
  display: flex;
  flex-direction: column;
  width: 130px;
  text-align: center;
}
.inner-min-height,
.inner-min-weight,
.inner-min-lifespan {
  margin: 0 5rem;
  border-radius: 20px;
}
.inner-max-height,
.inner-max-weight,
.inner-max-lifespan {
  margin: 0 5rem;
}
select{
  text-align: center;
  background-color: rgb(87, 74, 74, .6);
}
.select-temperaments{
  border-radius: 10px;
}
label{
  background-color: transparent;
  color: #1E1E1E;
  font-size: 20px;
}
.container-temperaments-selected{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: -1.5rem;
}
.selected-temperament {
  position: relative;
  overflow: hidden;
  border: 1px solid #1E1E1E;
  color: #1E1E1E;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding: 10px 10px 10px;
  text-decoration: none;
  cursor: pointer;
  background: #fff;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  margin-right: 8px;
  margin-top: 8px;
}
.selected-temperament span:first-child {
  position: relative;
  transition: color 600ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 10;
}
.selected-temperament span:last-child {
  color: white;
  display: block;
  position: absolute;
  bottom: 0;
  transition: all 500ms cubic-bezier(0.48, 0, 0.12, 1);
  z-index: 100;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translateY(225%) translateX(-50%);
  height: 14px;
  line-height: 30px;
}
.selected-temperament:after {
  content: "";
  position: absolute;
  bottom: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform-origin: bottom center;
  transition: transform 600ms cubic-bezier(0.48, 0, 0.12, 1);
  transform: skewY(9.3deg) scaleY(0);
  z-index: 50;
}
.selected-temperament:hover:after {
  transform-origin: bottom center;
  transform: skewY(9.3deg) scaleY(2);
}
.selected-temperament:hover span:last-child {
  transform: translateX(-50%) translateY(-100%);
  opacity: 1;
  transition: all 900ms cubic-bezier(0.48, 0, 0.12, 1);
}
.submit {
  background-color: rgb(87, 74, 74);
  border: 2px solid #1E1E1E;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin:0 auto;
  margin-top: 3rem;
  outline: 0;
  text-align: center;
  width: 95%;
  margin-bottom: 1rem;
}
.submit.enabled:hover {
  background-color: rgb(136, 124, 124);
}
.submit.enabled:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.validation {
			border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
}
.validation{
      margin-top: 2rem;
			color: #D63301;
			background-color: #FFCCBA;
			background-image: url('https://i.imgur.com/GnyDvKN.png');
}
.select-container{
  display: flex;
  flex-direction: row;
  width: 95%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  margin-top: 2.5rem;
}
.disabled{
  background-color: #ccc;
  cursor: not-allowed;
}
