.not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
.not-found h1{
  font-size: 3rem;
  font-weight: bold;
  color: red;
  margin-bottom: 1rem;
}
.back-home{
  font-size: 1.5rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}
.back-home img{
  width: 100px;
  height: 100px;
}