.LandingPage{
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-image: url("../../assets/images/landingBG.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.title{
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 30%;
}
.bone{
  position: relative;
  top: 60%;
  left: 49%;
}

/*@media screen and (max-width:820px) {
  .title{
    font-size: 3rem;
  }
  .bone{
    top: 50%;
    left: 49%;
  }
}*/