body{
  background: url(../../assets/images/bk_dog_detail.png);
}
.back-container{
  position: relative;
  top: 80px;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  font-size: 1.5rem;
  text-align: center;
}
.back-container img{
  width: 100%;
  height: 100%;
}
.General-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: -5rem;
  background: #F3F3F3;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}
.General-container img{
  width: 100%;
  max-height: 700px;
  border-radius: 20px 20px 0 0;
}
.name-container{
  position: relative;
  top: -50px;
  background-color:#F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 
  10px 0px 13px -7px #000000, 5px 5px 15px 0px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 
  10px 0px 13px -7px #000000, 5px 5px 15px 0px rgba(0,0,0,0);
}
.name-container h1{
  color: #1E1E1E;
  text-align: center;
  margin-top: 5px;
}
.name-container h3{
  color: #1E1E1E;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
.more-details {
  position: relative;
  top: -75px;
  background-color: rgb(87, 74, 74);
  border: 2px solid #1E1E1E;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-family: 'Josefin Sans', sans-serif;
  width: 20%;
}
.more-details:hover {
  background-color: rgb(136, 124, 124);
}
.more-details:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
.details-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-top: -50px;
  margin-bottom: 70px;
  color:#1E1E1E;
}
.content{
  width: 400px;
  margin-left: 1rem;
}
.icon{
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.loader{
  position: relative;
  top: 450px;
  left: 20%;
  align-items: center;
  justify-content: center;
  align-content: center;

}
.btn-delete{
  position: absolute;
  top: 12%;
  left: 67%;
  width: 50px;
  height: 50px;
  background-color: red;
  color: white;
  border-radius: 9999px;
  border: none;
  z-index: 9999;
}
.btn-delete:hover{
  transform: scale(1.1);
}
@media screen and (min-width: 768px) and (max-width: 1280px) {
  .General-container{
    width: 80%;
    transform: scale(0.9);
    margin-top: -120px;
  }
  .General-container img{
    width: 100%;
    max-height: 500px;
  }
  .name-container h3{
    margin-bottom: 40px;
  }
  .more-details {
    width: 30%;
  }
  .back-container{
    left: 0;
    top: 1.5rem;
    transform: scale(.6);
  }
  .loader{
    transform: scale(0.6);
    top: 200px;
    left: -15%;
  }
  .btn-delete{
    top: 1%;
    left: 90%;
  }
}
@media screen and (max-width: 912px) {
.loader{
    transform: scale(0.6);
    top: 350px;
    left: -20%;
  }
}
@media screen and (max-width: 820px) {
.loader{
    transform: scale(0.6);
    top: 350px;
    left: -25%;
  }
}
@media screen and (max-width: 540px) {
  .back-container{
    left: -.5rem;
    transform: scale(.5);
  }
  .General-container{
    width: 80%;
    transform: scale(.9);
    margin-top: -90px;
  }
  .name-container h1{
    font-size: 1.5rem;
  }
  .name-container h3{
    font-size: 1rem;
  }
  .more-details {
    font-size: .9rem;
    height: 50px;
    width: 40%;
  }
  .details-container{
    transform: scale(0.8);
    margin-top: -5rem;
    margin-bottom: 3.5rem;
  }
  .loader{
    transform: scale(0.4);
    top: 250px;
    left: -37%;
  }
  .btn-delete{
    top: 1%;
    left: 85%;
  }
}
@media screen and (max-width: 414px) {
  .General-container{
    width: 100%;
    transform: scale(.9);
    margin-top: -90px;
  }
  .General-container img{
    width: 100%;
    max-height: 350px;
  }
  .back-container{
    left: -1rem;
    top: 1.5rem;
    transform: scale(.3);
    opacity: 0.6; 
    z-index: 9999;
  }
  .details{
    width: 100%;
  }
  .details-container{
    margin-left: -2rem;
    margin-top: -4rem;
    margin-bottom: 5rem;
    transform: scale(0.7);
  }
  .loader{
    transform: scale(0.3);
    top: 350px;
    left: -40%;
  }
}
@media screen and (max-width: 412px) {
  .loader{
    transform: scale(0.3);
    top: 350px;
    left: -40%;
  }
}
@media screen and (max-width: 375px) {
  .loader{
    transform: scale(0.3);
    top: 250px;
    left: -45%;
  }
}
@media screen and (max-width: 280px) {
  .name-container{
    width: 60%;
  }
  .name-container h1{
    font-size: 1rem;
  }
  .name-container h3{
    font-size: 12px;
  }
  .more-details {
    transform: scale(0.7);
    width: 40%;
  }
  .details-container{
    margin-left:2.5rem;
    width: 80%;
    transform: scale(0.6);
    margin-bottom: 3rem;
  }
  .loader{
    transform: scale(0.2);
    top: 250px;
    left: -45%;
  }
  .btn-delete{
    width: 30px;
    height: 30px;
    left: 85%;
  }
}