body{
  background: url(../../assets/images/bk_dog_detail.png);
}
.back-container{
  position: relative;
  top: 130px;
  left: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.back-container img{
  width: 100%;
  height: 100%;
}
.General-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 70%;
  border-radius: 20px;
  margin: 0 auto;
  margin-top: 1rem;
  background: #F3F3F3;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.5);
}
.General-container img{
  width: 100%;
  max-height: 700px;
  border-radius: 20px 20px 0 0;
}
.name-container{
  position: relative;
  top: -50px;
  background-color:#F3F3F3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border: 1px solid rgb(0, 0, 0, 0.3);
  border-radius: 20px;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 
  10px 0px 13px -7px #000000, 5px 5px 15px 0px rgba(0,0,0,0); 
  box-shadow: -10px 0px 13px -7px #000000, 
  10px 0px 13px -7px #000000, 5px 5px 15px 0px rgba(0,0,0,0);
}
.name-container h1{
  color: #1E1E1E;
  text-align: center;
  margin-top: 5px;
}
.name-container h3{
  color: #1E1E1E;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}
.more-details {
  position: relative;
  top: -75px;
  background-color: rgb(87, 74, 74);
  border: 2px solid #1E1E1E;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  font-family: 'Josefin Sans', sans-serif;
}
.more-details:hover {
  background-color: rgb(136, 124, 124);
}
.more-details:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}
@media (min-width: 768px) {
  .more-details {
    min-width: 120px;
    padding: 0 25px;
  }
}
.details-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 480px;
  margin-top: -50px;
  margin-bottom: 70px;
  color:#1E1E1E;
}
.content{
  width: 400px;
  margin-left: 1rem;
}
.icon{
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
}